@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

body {
  background-color: #121214 !important;
  font-family: 'Xanh Mono', monospace !important;
}

.form-control, .btn {
  box-shadow:  14px 14px 21px #070708,
             -14px -14px 21px #1d1d20;
}

input[type=text], textarea {
  background-color: #252529 !important;
}

.form-control:focus, .form-select:focus {
  border-color: #555555 !important;
  box-shadow:  14px 14px 21px #070708,
             -14px -14px 21px #1d1d20 !important;
} 